@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}
*{
  padding: 0;
  margin: 0;
}

  
.gymbg{
  background: url("/gymbg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  animation: clipin 1s ease-in-out 1 forwards;
  background-position: top;

}
.gymbgu{
  background: url("/gymbg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  background-position: top;
}
.navbar{
  animation: navbar 0.5s ease-in-out 0.6s 1 forwards;
}
@keyframes navbar {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.intro h1{
  background-image: url("/gymbg.jpg");
  padding: 50px;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  font-size: 100px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  animation: fadein 1s ease-in-out 1 forwards

}
@keyframes fadein {
  from{
    opacity: 0;
    transform: translateY(-100px);
  }
  to{
    opacity: 1;
    transform: translateY(0px));
  }

}
@keyframes clipin {
  from{

    clip-path: circle(0% at 50% 50%) ;
  }
  to{

    clip-path: circle(100% at 50% 50%);
  }
}
.cardshadow{
  box-shadow: 0px 0px 10px 1px white;
  background-color: rgba(67, 60, 60, 0.396);
}
.cardshadow2{
  box-shadow: 0px 0px 25px 3px rgb(241, 146, 60);
  backdrop-filter: blur(20px);
}
.cardshadow2a{
  box-shadow: 0px 0px 10px 2px rgb(245, 197, 151);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.108);
}
.cardshadow2ad{
  box-shadow: 0px 0px 10px 2px rgb(245, 197, 151);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.108);
  border-radius: 15px;
}
.cardshadow3{
  box-shadow: 0px 0px 20px 2px rgb(241, 146, 60);
  border: 2px solid rgb(241, 146, 60);
  border-radius: 15px;
  background-color: rgba(255, 217, 0, 0.234);
}
.img{
  width: 300px;
  height: 200px;
}
.landshadow{
  text-shadow: 0px 0px 10px orange ;
}
.navli:hover{
  background-color: rgba(249, 113, 2, 0.432);
  color: rgb(252, 174, 110);
}
.equip{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
